.footerLogo {
  height: 80px;
  width: 80px;
}

.footerBgImg {
  height: 119px;
  width: 120px;
}

.socialIcons {
  height: 35px;
  width: 35px;
}
.py-20 {
  padding-top: 2.7rem;
  padding-bottom: 2.7rem;
}