.w-5\/12{
    margin-top: 3px;
}
.items-center {
    margin-top: 3px;
}
.h-16{
    background-color:#219653 !important;
    color: #FFFFFF;
    height: 72px;
}
.logoWeb {
    height: 60px;
    width: 60px;
    margin-top: 2.5px;
  
}

@media screen and (max-width: 500px) {
    .inPhone {
        display: none;
    }
}